html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #cc9933;
    background-image: url("welcome-bg-old.png");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 60px;
}


