 @page
@model TempleProject.Pages.RegisterModel

<div class="container mt-5">
  <div class="row justify-content-center align-content-center">
 <div class ="col-sm-12 col-md-12 col-lg-4">
     <h1 class="mb-3">Register</h1>
        <form method="post">
            <p><strong> Only Temple Users Can register here!<p></strong>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class= "mb-3">
                <label asp-for="Model.UserName" class="control-label"></label>
                <input asp-for="Model.UserName" class="form-control" />
                <span asp-validation-for="Model.UserName" class="text-danger"></span>
            </div>
            <div class= "mb-3">
                <label asp-for="Model.Password" class="control-label"></label>
                <input asp-for="Model.Password" class="form-control" />
                <span asp-validation-for="Model.Password" class="text-danger"></span>
            </div>
            <div class= "mb-3">
                <label asp-for="Model.ConfirmPassword" class="control-label"></label>
                <input asp-for="Model.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Model.ConfirmPassword" class="text-danger"></span>
            </div>           
            <div class= "mb-3">
                  <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
        </div>
    </div>
</div>
